@charset "UTF-8";

body {background-color: #c5ebd6;margin-top: 0%; margin-left: 0%; margin-right: 0;}
h1#principal{
    background-color: #1A5C38;
    color: white;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 0px ;
    padding: 50px;}

article{text-align: center; background-color: white; margin: 504px; margin-top: 0px;}

footer{background-color: black;
    color: white;
     text-align: center;
    padding: 4px;
    margin: 0px;
    }
    footer > p{
        margin: 0%;



   
    
